<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Randomise

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img class="image" src="https://docs-demo.ionic.io/assets/madison.jpg"></ion-img>
</ion-content>

<ion-content class="info">
  <ion-list>
    <ion-header class="title">DOGO</ion-header>
    <ion-input placeholder="Input dogo not cat ^^" class="input" type="text"></ion-input>
    <ion-label color="primary" class="label">Gender</ion-label><br>
    <ion-label color="secondary" class="label">Age</ion-label><br>
    <ion-label color="danger" class="label"> Nationality</ion-label><br>
    <ion-button shape="round">PRESS TO RAND</ion-button>

  </ion-list>
</ion-content>