<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Randomise

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img class="image" src="{{image}}"></ion-img>
</ion-content>

<ion-content class="info">
  <ion-list>
    <ion-header class="title">DOGO {{title}}</ion-header>
    <ion-input [(ngModel)]="name" placeholder="Input dogo not cat ^^" class="input" type="text"></ion-input>
    <ion-label color="primary" class="label">Gender: {{gender}} </ion-label><br>
    <ion-label color="secondary" class="label">Age: {{age}}</ion-label><br>
    <ion-label color="danger" class="label"> Nationality: {{nationality}}</ion-label><br>
    <ion-button (click)="pressMe()" shape="round">PRESS TO RAND</ion-button>

  </ion-list>
</ion-content>